@tailwind base;
@tailwind components;
@tailwind utilities;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-beatrice);
}
.btn-primary {
  @apply  text-sm bg-custom-gradient hover:bg-custom-gradient-hover text-white rounded-full py-3 px-5 min-w-[124px] transition-all border border-transparent;
}
.btn-secondary {
  @apply  text-sm bg-white text-secondary rounded-full py-3 px-5 min-w-[124px] transition-all border border-transparent;
}
.btn-outline{
  @apply text-sm rounded-full py-3 px-5 min-w-[124px] transition-all;
}
/*Hero Home*/
.hero-Home-bg {
  background-image: url(../../public/images/hero-bg-min.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.heading-h2 {
  @apply text-[44px] font-semibold leading-[60px] tracking-wide;
}
